<section class="hero" id="home">

  <div class="content">

    <!-- MAIN HEADING -->
    <h1 class="title"> Software Engineer</h1>

    <!-- SUBTITLE -->
    <p class="subtitle">Over 6+ years of experience in Software Development</p>

    <!-- TAG CONTAINER -->
    <div class="tags">
      <div class="tag">
        <i class="fa-solid fa-code"></i>
        Full Stack Development
      </div>

      <div class="tag">
        <i class="fa-solid fa-cloud"></i>
        Cloud & DevOps
      </div>

      
    </div>

    <!-- BUTTON -->
    <a routerLink="/" fragment="projects" class="btn-primary" (click)="scrollTo('projects')">
      View My Projects <i class="fa-solid fa-angle-down" (click)="scrollTo('projects')" ></i>
    </a>

  </div>

</section>


<section class="skills-section" id="skills">
  <h2 class="section-title">Technical Skills</h2>

  <div class="skills-grid">

    <!-- Programming Languages -->
    <div class="skill-card">
      <h3><span class="icon">⌨️</span> Programming Languages</h3>
      <div class="tags">
        <span>JavaScript</span> <span>TypeScript</span> <span>Java</span>  
      </div>
    </div>

    <!-- Frameworks -->
    <div class="skill-card">
      <h3><span class="icon">⚙️</span> Frameworks</h3>
      <div class="tags">
         <span>Angular</span><span>Spring Boot</span> <span>Hibernate</span> 
      </div>
    </div>

    <!-- Databases -->
    <div class="skill-card">
      <h3><span class="icon">💾</span> Databases</h3>
      <div class="tags">
       <span>SQL Server</span>
        <span>MySQL</span> <span>Oracle</span>
      </div>
    </div>

    <!-- Cloud & DevOps -->
    <div class="skill-card">
      <h3><span class="icon">☁️</span> Cloud & DevOps</h3>
      <div class="tags">
        <span>Git</span><span>Jenkins</span> <span>Docker</span>
        <span>Kubernetes</span><span>AWS</span><span>PCF</span><span>OCP</span>
      </div>
    </div>

    <!-- Web Technologies -->
    <div class="skill-card">
      <h3><span class="icon">🌐</span> Web Technologies</h3>
      <div class="tags">
        <span>HTML/CSS</span> <span>REST APIs</span> 
        <span>Micro Frontends</span><span>Microservices</span> <span>WebServices</span>
        <span>JSON/XML</span>
      </div>
    </div>

  </div>
</section>

<section class="projects-section" id="projects">
  <h2 class="projects-title">Featured Projects</h2>

  <div class="projects-grid">

    <!-- Project 1 -->
    <div class="project-card">
      <div class="project-content">
        <h3>The Workbench - Home Depot</h3>
        <p>
          Self service portal for all the contractors of home depot employees.
          Built for automating the tasks of IT team,employees and managers. 
        </p>

        <div class="tags">
          <span>Angular</span><span>Node.js</span><span>MySQL</span>
          <span>Microservices</span><span>Concourse</span><span>PCF</span><span>AWS</span><span>GCP</span>
        </div>
      </div>
    </div>

    <!-- Project 2 -->
    <div class="project-card">
      <div class="project-content">
        <h3>Data into action - PNC Bank</h3>
        <p>
          Web portal for integrating the data from various sources and providing the analytics dashboard for different teams and automating the work of internal teams.
        </p>

        <div class="tags">
         <span>Angular</span><span>Angular libraries</span><span>Spring Boot</span><span>Oracle</span>
          <span>Microservices</span><span>Jenkins</span><span>OCP</span>
        </div>
      </div>
    </div>

    <!-- Project 3 -->
    <div class="project-card">
      <div class="project-content">
        <h3>Web banking application - PNC Bank</h3>
        <p>
          online web banking application for customers to manage their bank accounts, view transactions, transfer funds, pay bills, and access various banking services securely.
        </p>

        <div class="tags">
         <span>Angular</span><span>Micro Frontends</span><span>Spring Boot</span><span>Oracle</span>
          <span>Microservices</span><span>Jenkins</span><span>OCP</span>
        </div>
      </div>
    </div>

    <div class="project-card">
      <div class="project-content">
        <h3>PNC pay - PNC Bank</h3>
        <p>
          PNC Pay is a web based application that allows users to make payments, manage transactions, and access financial services online.
        </p>

        <div class="tags">
         <span>Angular</span><span>Micro Frontends</span><span>Spring Boot</span><span>Oracle</span>
          <span>Microservices</span><span>Jenkins</span><span>OCP</span>
        </div>
      </div>
    </div>

  </div>
</section>

<section class="experience-section" id="experience">
  <h2 class="section-title">Professional Experience</h2>

  <div class="experience-card">
    <div class="icon-wrapper">
      <span class="material-icons">work</span>
    </div>

    <div class="experience-content">
      <h3>CGI</h3>
      <p class="role">Software Engineer</p>
      <p class="desc">Full stack developer for various projects in PNC Bank using Angular, Java, Spring Boot, and Micro-Frontends.</p>
    </div>

    <p class="exp-date">February 2023 – Present</p>
  </div>

  <div class="experience-card">
    <div class="icon-wrapper">
      <span class="material-icons">work</span>
    </div>

    <div class="experience-content">
      <h3>Miracle Software Systems</h3>
      <p class="role">Junior Technical Associate</p>
      <p class="desc">Front Lead and Developer for various projects using Angular, Java, Spring Boot</p>
    </div>

    <p class="exp-date">November 2019 – February 2023</p>
  </div>

  
</section>


<section class="contact-section" id="contact">
  <h2 class="section-title">Get in Touch</h2>

  <div class="contact-container">

    <div class="contact-card">
      <h3 style="text-align: center;">Contact Information</h3>

      <div class="info-item">
        <span class="icon material-icons">mail</span>
        <span>{{mail}}</span>
      </div>

      <div class="info-item">
        <span class="icon material-icons">call</span>
        <span>+91 7382014119</span>
      </div>

      <div class="info-item">
        <span class="icon material-icons">location_on</span>
        <span>India</span>
      </div>
    </div>

   
  </div>
</section>

